<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	
	{{> nav}}

	<div class="thumbnail hidden" id="upload-thumbnail">
		<span class="btn btn-primary btn-file" id="filename-span">
	    	Browse & Import<input type="file" name="filename" id="filename-body">
		</span>

		<p id="instructions">To upload your activities, log into Coach.me and go to the bottom of <a href="https://www.coach.me/settings" target="_blank">this page</a> to download CSV. Then upload above.</p>

		<div class="headline" user-id={{user._id}} user-activity-count={{user.activities.length}}>
	    </div>
    </div>

    <div class="categories">
	    <div class="thumbnail index">
	    	<div class="category-header category-a">
	    		<div class="catheader a">
	    			Cognitive Intelligence
	    		</div>
	    	</div><br>
	    	<div class="category-body category-a">
	    		<div class="catbody a">
	    			<span class="glyphicon glyphicon-book icon-activity habit-color-blue" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/read">Reading</a><br>
	    			
	    			<span class="glyphicon glyphicon-flash icon-activity habit-color-blue" data-toggle="tooltip" title="Daily Habit"></span></a>
	    			<a href="/{{user.username}}/activity/creativity">Creativity</a><br>
	    			
	    			<span class="glyphicon glyphicon-pencil icon-activity"></span>
	    			<a href="#">Writing</a><br>
	    			
	    			<span class="glyphicon glyphicon-sound-stereo icon-activity"></span>
	    			<a href="#">Code</a>
	    		</div>
	    	</div>
	    </div>
	    <div class="thumbnail index">
	    	<div class="category-header category-b">
	    		<div class="catheader b">
	    			Fitness & Nutrition
	    		</div>
	    	</div><br>
	    	<div class="category-body category-b">
	    		<div class="catbody b">
	    			<span class="glyphicon glyphicon-apple icon-activity habit-color-green" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/Eat Fruit">Fruit</a><br>

	    			<span class="glyphicon glyphicon-forward icon-activity habit-color-green" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/workout">Physical</a><br>

	    			<span class="glyphicon glyphicon-bed icon-activity habit-color-green" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/sleep at least 7 hours">Sleep</a><br>

					<span class="glyphicon glyphicon-option-horizontal icon-activity habit-color-green" data-toggle="tooltip" title="Daily Habit"></span>
					<a href="/{{user.username}}/activity/floss">Floss</a>
	    		</div>
	    	</div>
	    </div>
	    <div class="thumbnail index">
	    <div class="category-header category-c">
	    		<div class="catheader c">
	    			Pyschological & Emotional
	    		</div>
	    	</div><br>
	    	<div class="category-body category-c">
	    		<div class="catbody c">
	    			<span class="glyphicon glyphicon-heart icon-activity habit-color-yellow" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/express gratitude">Gratitude</a><br>

	    			<span class="glyphicon glyphicon-cloud icon-activity habit-color-yellow" data-toggle="tooltip" title="Daily Habit"></span>
	    			<a href="/{{user.username}}/activity/snuggle">Snuggle</a><br>

	    			<span class="glyphicon glyphicon-home icon-activity"></span>
	    			<a href="#">Family</a><br>

	    			<span class="glyphicon glyphicon-tent icon-activity"></span>
	    			<a href="#">Outdoors</a>
	    		</div>
	    	</div>
	    	
	    </div>
	    <div class="thumbnail index">
	    	<div class="category-header category-d">
	    		<div class="catheader d">
	    			Social
	    		</div>
	    	</div><br>
	    	<div class="category-body category-d">
	    		<div class="catbody d">
	    			<span class="glyphicon glyphicon-envelope icon-activity"></span>
	    			<a href="#">Email</a><br>

	    			<span class="glyphicon glyphicon-text-size icon-activity"></span>
	    			<a href="#">Tweets</a><br>

	    			<span class="glyphicon glyphicon-camera icon-activity"></span>
	    			<a href="#">Photos</a><br>

	    			<span class="glyphicon glyphicon-camera icon-blank"></span>
	    		</div>
	    	</div>
	    </div>
	    <div class="thumbnail index">
	    	<div class="category-header category-e">
	    		<div class="catheader e">
	    			Travel
	    		</div>
	    	</div><br>
	    	<div class="category-body category-e">
	    		<div class="catbody e">
	    			<span class="glyphicon glyphicon-plane icon-activity"></span>
	    			<a href="#">Flights</a><br>
	    			<span class="glyphicon glyphicon-road icon-activity"></span>
	    			<a href="#">Auto</a><br>
	    			<span class="glyphicon glyphicon-globe icon-activity"></span>
	    			<a href="#">States</a><br>
	    			
	    			<span class="glyphicon glyphicon-camera icon-blank"></span>
	    		</div>
	    	</div>
	    </div>
    </div>

    <div class="thumbnail hidden" id="category-details-drawer">
    
    </div>


	<!-- plotly -->
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- index.js -->
	<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>