<!DOCTYPE html>
<html lang="en">
<head>

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <meta charset="UTF-8">

	<title>Index</title>
</head>
<body>

	{{> nav}}

  <div class="headline" user-id={{user._id}} user-activity-count={{user.activities.length}}>
	Welcome, {{user.username}}! You have {{user.activities.length}} daily activities logged.
  </div>
  
  <span class="btn btn-primary btn-file" id="filename-span">
    Browse<input type="file" name="filename" id="filename-body">
  </span>
  <br>

  <div class="thumbnail" id="activities-list">
    <script id="activities-template" type="text/x-handlebars-template">    
    <div class="row" id="habit-filter">
    \{{#each activities}}
      <span class="label label-default" id="habit-\{{this}}">\{{this}}</span>
    \{{/each}}
    </div>
    </script>
  </div>

  <div class="row" id="charts">
    <div class="thumbnail"><div id="totalCountBarChart"></div></div>
    <div class="thumbnail"><div id="AverageWeekBarChart"></div></div>
    <div class="thumbnail"><div id="streaksBarChart"></div></div>
  </div>  

	{{> footer}}
  <!-- plotly -->
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  <!-- index.js -->
  <script type="text/javascript" src="/scripts/index.js"></script>
    
</body>
</html>