<!DOCTYPE html>
<html lang="en">
<head>

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <meta charset="UTF-8">

	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>

	{{> nav}}
	<h1>Index</h1>
  <div class="headline" data-id={{user._id}}>
	Welcome, {{user.username}}! You have {{user.activities.length}} activities logged.
  </div>
  <br>
  <div class="row" id="activities-list">
    <script id="activities-template" type="text/x-handlebars-template">
      \{{#each activitycountbygroup}}
        \{{_id}}: \{{count}}<br>
      \{{/each}}
    </script>
  </div>
	

  <br><br>
  <input type="file" name="filename" id="filename">
	
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  <!-- index.js -->
  <script type="text/javascript" src="/scripts/index.js"></script>
    
</body>
</html>